{% extends 'base.html.twig' %}

{% block title %}Page de modification Username
{% endblock %}

{% block body %}
	<h1>Page modif username</h1>
	{{ form_start(form)}}
	{{form_row(form.username, {
                "attr" : {"placeholder":"Votre nouveau pseudo",
                          "class" : "mb-3"
                },
                "label": "Votre nouveau pseudo : "
            })}}
	<input type="submit" class="btn btn-primary" value="Modifier">
	{{ form_end(form)}}
{% endblock %}
