<form method="post" action="{{ path('film_controller_class_delete', {'id': film.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ film.id) }}">
    <button class="btn bg-danger">Supprimer</button>
</form>
