{% extends 'base.html.twig' %}

{% block title %}Modifier le film{% endblock %}

{% block body %}
    <h1>Modifier le Films</h1>

    {{ include('film_controller_class/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('film') }}">retour</a>

    {{ include('film_controller_class/_delete_form.html.twig') }}
{% endblock %}
