{% extends 'base.html.twig' %}

{% block title %}Nouveau film{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau film</h1>

    {{ include('film_controller_class/_form.html.twig') }}

    <a href="{{ path('film') }}">retour</a>
{% endblock %}
